/* Ficheiro: src/index.css */

/* As 3 diretivas MÁGICAS do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base CORRIGIDOS */
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: #3a6ea5; /* Cor de fallback */
}
